html {
    font-size: 10px;
}

#game-area {
    font-size: 1.6rem;
    padding-top: 3rem;
}

.imageArea, .stats {
    min-height: 30vh;
}

.imageArea {
    background: linear-gradient(70deg, #859ede, #6965de);
    border-radius: 0 0 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

h1 {
    margin-top: 0;
    font-size: 2.4rem;
}

h3 {
    margin-top: 0;
    font-size: 2rem;
}

.items {
    font-size: 2rem;
}

button {
    width: 8rem;
    border-radius: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid rgb(115, 255, 0);
    cursor: pointer;
}

/* Todo -  decorate the buttons further */

button:nth-child(2) {
    border: 2px solid rgb(255, 0, 0);
}

.stats {
    background-color: whitesmoke;
    border: 2px solid blue;
    border-radius: 3rem 3rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    text-align: center;
}

.space-y {
    margin: 3rem 0;
}

img {
    width: 100%;
    height: 90%;
    border-radius: 3rem;
}

@media all and (min-width: 600px) {
    #game-area {
        display: flex;
    }
    .imageArea, .stats {
        min-height: 50vh;
    }
    .imageArea {
        border-radius: 3rem;
        transform: translate(-3rem);
        flex: 2;
    }
    .stats {
        flex: 1;
        border-radius: 3rem 0 0 3rem;
        margin-left: 3rem;
        padding-right: 3rem;
    }
}